@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    font-family: Arial;
}

/* headings and logo */
#logo {
    font-family: 'Libre Baskerville', serif;
    float: left;
    letter-spacing: 2px;
    color: orange;
    margin-left: 10px;
}

/* navigation links */
#menu {
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right;
    position: sticky;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid;
}

#start-now {
    border: 2px solid;
    border-color: orange;
    border-radius: 10px;
    padding: 8px;
}

#start-now:hover {
    background-color: orange;
    color: white;
    border-bottom: 1px solid;
    text-decoration: none;
}


/* hero image and hero text*/

#hero-image {
    margin: 0px auto;
    width: 80%;
    height: 500px;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: lightcoral;
    background: url('../images/hero-image.jpg') no-repeat center center;
    clear: both;
    background-size: cover;
}

#hero-text h2 {
    font-size: 50px;
    font-family: 'Libre Baskerville',
        serif;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    padding-top: 200px;

}

#hero-text h3 {
    font-size: 25px;
    font-family: Arial;
    font-style: italic;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    padding-top: 0px;
}