@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none
}

body {
    font-family: Arial;
}

h4 {
    font-family: Arial;
    color: black;
    text-align: center;
}

/* Logo in the right top corner */

#logo {
    font-family: 'Libre Baskerville', serif;
    float: left;
    letter-spacing: 2px;
    color: orange;
    margin-left: 10px;
}

/* navigation links */

#menu {
    font-size: 90%;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: right;

}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

/* navigation link start now hover*/

#menu a:hover {
    border-bottom: 1px solid;
}

#start-now {
    border: 2px solid;
    border-color: orange;
    border-radius: 10px;
    padding: 8px;
}

#start-now:hover {
    background-color: orange;
    color: white;
    border-bottom: 1px solid;
    text-decoration: none;
}

/* hero image */

#hero-image {
    margin: 0px auto;
    width: 80%;
    height: 500px;
    padding: 30px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    border-color: lightcoral;
    background: url('../images/hero-image.jpg') no-repeat center center;
    clear: both;
    background-size: cover;

    /* hero image zoom animation */
    animation-name: hero-animation;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes hero-animation {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.1);
    }
}

/* text inside the hero image */

#hero-text h2 {
    font-size: 50px;
    font-family: 'Libre Baskerville',
        serif;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    padding-top: 200px;
}

#hero-text h3 {
    font-size: 25px;
    font-family: Arial;
    font-style: italic;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    padding-top: 0px;
}

/* hero image for the meditation pages */
#hero-image-meditation-pages {
    margin: 0px auto;
    width: 100%;
    height: 500px;
    padding: 30px;
    border-color: lightcoral;
    background: url('../images/hero-image.jpg') no-repeat center center;
    clear: both;
    background-size: cover;
}

/* Form */

form{
    display: block;
}

#div-form {
    background-color: red;
    width: 70%;
    margin-top: 20px;
    margin-left: 15%;
}

#div-form label{
   
}

#div-form label {

}

#form-heading {
    font-size: 150%;
}

/* making the meditation nav bar centered */
.about-meditation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 125px;
}

/* navigation bar about meditation */

.circle-container {
    width: 180px;
    height: 180px;
    padding: 1px;
    margin: 40px;
    border: 1px solid lightcoral;
    border-radius: 50%;
    background-color: rgb(255, 210, 125);
}

#circle-bg-what {
    background: url('../images/what.is.meditation.png') no-repeat;
    height: 100%;
    border-radius: 50%;
    background-size: contain;
}

#circle-bg-why {
    background: url('../images/why.meditate.png') no-repeat;
    height: 100%;
    border-radius: 50%;
    background-size: contain;
}

#circle-bg-how {
    background: url('../images/how.to.meditate.png') no-repeat;
    height: 100%;
    border-radius: 50%;
    background-size: contain;
}

#circle-bg-questions {
    background: url('../images/more.questions.png') no-repeat;
    height: 100%;
    border-radius: 50%;
    background-size: contain;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 3%;
}